<!-- sidebar.html -->
<div th:fragment="sidebar" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>

                <!-- Dashboard cho mọi role -->


                <!-- Menu admin -->

                <a class="nav-link" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/admin}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                    th:href="@{/admin/users}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Users
                </a>
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                    th:href="@{/admin/categories}">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                    Categories
                </a>

                <a class="nav-link" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/admin/jobs}">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                    Jobs
                </a>

                <a class="nav-link" th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                    th:href="@{/admin/applications}">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                    Applications
                </a>

                <!-- Menu employer -->
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''EMPLOYER'')')}"
                    th:href="@{/employer}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''EMPLOYER'')')}"
                    th:href="@{/employer/jobs}">
                    <div class="sb-nav-link-icon"><i class="fas fa-briefcase"></i></div>
                    My Jobs
                </a>
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''EMPLOYER'')')}"
                    th:href="@{/employer/applications}">
                    <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                    Applications
                </a>
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''EMPLOYER'')')}" th:href="@{/profile}">
                    <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                    Profile
                </a>
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''EMPLOYER'')')}"
                    th:href="@{/blogs}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Blogs management
                </a>

                <!-- Menu candidate -->
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''CANDIDATE'')')}"
                    th:href="@{/candidate}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''CANDIDATE'')')}"
                    th:href="@{/candidate/jobs}">
                    <div class="sb-nav-link-icon"><i class="fas fa-search"></i></div>
                    Browse Jobs
                </a>
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''CANDIDATE'')')}"
                    th:href="@{/candidate/applications}">
                    <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                    My Applications
                </a>
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''CANDIDATE'')')}"
                    th:href="@{/profile}">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Profile
                </a>
                <a class="nav-link" th:if="${#authorization.expression('hasRole(''CANDIDATE'')')}"
                    th:href="@{/blogs}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Blogs management
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            <span th:text="${#authentication.name}">Username</span>
        </div>
    </nav>
</div>